.chat-container-div {
  background-color: #363535;
  padding: 7px 8px 7px 8px;
  color: #f2f3f5;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hashtag {
  padding: 0px 0px 0px 5px;
  font-size: 23px;
  font-weight: 700;
}
.general {
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  font-weight: 600;
}
.chat-header-right-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hash-general {
  display: flex;
  align-items: center;
}
.chat-header-svg-icon {
  fill: rgb(209, 207, 207);
}
.chat-header-svg-icon:hover {
  fill: white;
  transition: 0.2s;
}
.bottom-input-text-area-css {
  padding: 5px 10px 5px 10px;
  position: fixed;
  bottom: 0px;
  width: 62%;
  margin-left: 18px;
  display: flex;
  justify-content: space-between;
  background-color: #404249;
  border-radius: 5px;
  margin-bottom: 30px;
}
.bottom-right-input-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.input-align-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.input-center-text-area {
  border: transparent;
  background-color: #404249;
}
input:focus {
  outline: none;
  color: white;
}
.set-svg-border {
  border: 1px solid transparent;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.set-svg-border:hover {
  border: 1px solid silver;
  background-color: #1e1f22;
}
.chat-image-css {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.main-div-container {
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.span1-div1 {
  font-size: 16px;
  color: #f2f0eb;
  font-weight: 600;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.span1-div1:hover {
  border-bottom: 1px solid #f2f0eb;
}
.span2-div1 {
  font-size: 0.75rem;
  color: #94959b;
}
.div1-chat-cont-css {
  display: flex;
  gap: 15px;
  align-items: baseline;
}
.p-in-div-chat {
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 15px;
  color: #e1dbdb;
}
#chat-center-render {
  background-color: #363535;
  overflow-y: auto;
  height: 90vh;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
.span-image-css {
  cursor: pointer;
}
