body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.background-image {
  background-image: url("../images/discord-background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-div {
}
.welcome-back {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.excited {
  color: #b5bac1;
  font-size: 16px;
}
.container {
    background-color: #313338;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* width: 50%; */
    border-radius: 10px;
    padding: 20px 80px;
}
label {
  color: #b5bac1;
  font-size: 12px;
  font-weight: 700;
  margin: 0px 0px 8px 0px;
}
.input-field-div {
  padding-top: 8px;
}
input {
  padding: 13px;
  border-radius: 6px;
  outline: none;
}
.forget-password {
  color: #00a8fc;
  font-size: 14px;
  margin: 2px;
}
.btn-login {
  background-color: #5865f2;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.need-account {
  color: #949ba4;
  font-size: 14px;
}
.qr-code {
  color: #f2f3f5;
  font-size: 24px;
  font-weight: 600;
}
.instruction {
  color: #b5bac1;
  margin: 0px;
}
.right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.set-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-email {
  margin-bottom: 6px;
}
.hide-hyperlink {
  border-bottom: 1px solid transparent;
}
.hide-hyperlink:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}
#invalid-user-email,
#invalid-user-pwd {
  color: #bd6367;
  display: none;
}
#snackbar {
  visibility: hidden;
  min-width: 230px;
  margin-left: -125px;
  background-color: white;
  color: red;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    botttopom: 0;
    opacity: 0;
  }
}
